.header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #ffffff;
  margin-bottom: 8px;
  .leftSide {
	.paytmLogo {
	  cursor: pointer;
	  width: 97px;
	  height: 31px;
	  margin: 24px 66px 24px 60px;
	  background-repeat: no-repeat;
	  background-image: url("../../images/paytm_logo.png");
	}
	div {
	  display: inline-block;
	}
	div.tabSelect {
	  padding: 28px 37px 28px 37px;
	  text-align: center;
	  vertical-align: text-bottom;
	  font-size: 14px;
	  color: #9c9c9c;
	  cursor: pointer;
	}
	div.selected {
	  color: #494949;
	  border-bottom: solid 4px #00b9f5;
	}
	a {
	  padding: 10px 50px 20px;
	  margin: 0;
	}
  }
  .rightSide {
	.logout {
	  cursor: pointer;
	  font-size: 16px;
	  font-weight: 600;
	  color: #00b9f5;
	  margin-right: 60px;
	}
  }
}

.header > div {
  display: flex;
  align-items: center;
}
