input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.confirmBooking{
	background-color: #f5f8f9;
	.navigationRow {
	    display: flex;
	    justify-content: space-between;
	    height: 80px;
	    background-color: #ffffff;
	    margin-bottom: 8px;
	  	box-shadow: 0 2px 4px 0 rgba(73, 73, 73, 0.1);
	  	/*margin: 0 20px;*/
	  	.colLeft, .colRight{
	  		display:flex;
	  	    align-items: center;
	  	}
	  	.arrow{
	  		width: 51px;
		    height: 21px;
		    background-size: 15px 21px;
		    background-image: url("../../images/left-arrow.jpg");
		    background-repeat: no-repeat;
		    display: inline-block;
		    margin: 0 0 10px 55px;
		    cursor: pointer;		
		}
		.colLeft{
			.screenName{
		  		font-size: 18px;
	  			font-weight: 600;
		  	}
		}
		.colRight{
			cursor: pointer;
		    font-size: 16px;
		    font-weight: 600;
		    color: #00b9f5;
		    margin-right: 60px;
		}
	}
	.bookingDetails{		
		margin: 12px 19px 0 21px;
		background-color: #ffffff;
		padding: 30px 30px 8px;
		display: flex;
		justify-content: space-between;
		.title {
		  font-size: 16px;
		  font-weight: 600;
		  color: #000000;
		  margin-bottom: 41px;
		}		
		.leftSide {
		  display: inline-block;
		  .items {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			font-size: 12px;
			.item {
			  margin: 0 20px 20px 0;
			  flex-grow: 1;
			  width: calc(100% * (1/4) - 1px);
			  .field {
				color: #9c9c9c;
			  }
			  .value {
				font-weight: 600;			
    			font-size: 16px;
    			padding-bottom: 12px;
    			color: #494949;
			  }
			}
		  }
		}
		.rightSide {
		  display: inline-block;
		  .title {
			margin: 0;
		  }
		  .amount {
			margin: 22px 0 50px 0;
		  }
		  button {
			width: 280px;
			height: 48px;
			border-radius: 4px;
			border: none;
			font-size: 16px;
			font-weight: bold;
			color: #ffffff;
			background-color: #00b9f5;
			cursor: pointer;
			margin: 0 0 24px 0;
		  }
		}	  
	}
	.changeCalculator{
		margin: 20px 19px 0 21px;
		background-color: #ffffff;
		padding: 30px 30px 8px;
		display: flex;
		justify-content: space-between;
		.title {
		  font-size: 16px;
		  font-weight: 600;
		  color: #000000;
		  margin-bottom: 41px;
		}		
		.leftSide {
		  display: inline-block;
		  .subtitle {
		  	margin-bottom:25px;
		  }
		  .items {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			font-size: 12px;
			.item {
			  	display: inline-block;
			    width: calc(100% * (1/3) - 1px);
			    margin-bottom: 30px;
			  	.field {
					color: #9c9c9c;
				  }
				  .value {
					font-weight: 600;
					font-size: 16px;
					padding-bottom: 12px;
					color: #494949;
				  }
				  .amount{
				    display: inline-block;
				  	top: 5px;
				    position: relative;
				    font-size: 16px;
				    color: #494949;
				  }
			}
		  }
		}
		.rightSide {
		  display: inline-block;
		  width: 27%;
		  .title {
			margin: 0;
			width:280px;
		  }
		  .amount {
			margin: 22px 0 50px 0;
		  }		  
		}	
	}
}
.numericSelector {
    display: inline-block;
    margin-left: 24px;
}
.numericSelector span:first-child {
    border-radius: 4px 0 0 4px;
}
.numericSelector span {
    display: inline-block;
    width: 32px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    color: rgb(0, 185, 245);
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 185, 245);
    border-image: initial;
    border-radius: 0px 4px 4px 0px;
}
.numericSelector input {
	display: inline-block;
	width: 25px;
    height: 28px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #00b9f5;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: #00b9f5;
    border-bottom: 1px solid #00b9f5;
    padding: 1px 5px;
    border-right: none;
    border-left: none;
}