/*Layout CSS Start*/
.navigationRow {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #ffffff;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px 0 rgba(73, 73, 73, 0.1);
  /*margin: 0 20px;*/
  .colLeft, .colRight{
	display:flex;
	align-items: center;
  }
  .arrow{
	width: 51px;
	height: 21px;
	background-size: 15px 21px;
	background-image: url("../../images/left-arrow.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 0 10px 55px;
	cursor: pointer;
  }
  .colLeft{
	.mainHeader {
	  font-size: 16px;
	  font-weight: 600;
	  color: #000000;
	}
	.subHeader{
	  width: 175px;
	  height: 40px;
	  font-size: 12px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  color: #494949;
	}
	.middleContainer{
	  position: relative;
	  top:-10px;
	  left: 41px;
	  margin-left: 64px;
	  .middleText{
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		color: #737373;
	  }
	  .ticketHeader{
		font-size: 16px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		color: #4a4a4a;
	  }
	}
  }
  .colRight{
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	color: #00b9f5;
	margin-right: 60px;
  }
  .proceedToBook button {
	width: 251px;
	height: 48px;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #00b9f5;
	cursor: pointer;
	margin: 24px 0 24px 0;
  }
  .proceedToBook button:focus{
	outline: 0px;
  }
}
.disabled{
  background: #b9b0b0 !important;
  color:#fff;
  pointer-events: none;
}
.layoutContainer {
  padding: 20px !important;
  font-size: 12px;
  .layoutCategory {
	font-size: 12px;
	color: #002E6E;
	font-weight: 600;
	line-height: 2;
	border-bottom: 1px solid #d6d3d3;
	margin-bottom: 10px;
	margin-top: 13px;
  }
  ul {
	list-style-type: none;
	display: inline-block;
	margin-left: -35px;
	margin-top: 6px;
	margin-bottom: 3px;
  }
  ul.labelContainer {
	margin-right: 10px;
	width: 25px;
  }
  span.label {
	position: relative;
	display: inline-block;
	top: 4px;
  }
  ul li {
	display: inline-block;
  }
  li.seatStyleContainer {
	border: 1px solid #00B9F5;
	width: 23px;
	height: 23px;
	border-radius: 6px;
	text-align: center;
  }
  .notAvailbale {
	background: #b4b4b4 !important;
	border: 1px solid #b4b4b4 !important;
	color:#fff;
	cursor: default;
  }
  .taken{
	background: #e9e9e9 !important;
	border: 1px solid #e9e9e9 !important;
	cursor: default;
  }
  .seatAvailable{
	cursor:pointer;
  }
  .active {
	background-color: #00B9F5;
	color: #fff;
  }
  span.seatStyle {
	position: relative;
	display: inline-block;
	top: 5px;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	height: 100%
  }
  ul.seatLabelContainer {
	margin-right: 5px;
	width: 23px;
	height: 23px;
  }
  .listAllSeats{
	display:inline-block;;
  }
  .screen {
	width: 614px;
	height: 21px;
	background-color: #e6e6e6;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top:4px;
	font-size:10px;
  }
  .screenTop{
	margin-bottom: 7%;
  }
  .screenBottom{
	margin-top: 10%;
  }
  .labelDescription{
	margin-left:auto;
	margin-right: auto;
	width:543px;
	font-size:10px;
	padding: 10px;
	.labelIndicator{
	  width: 24px;
	  height: 24px;
	  border-radius: 6px;
	  display: inline-block;
	  margin-right: 19px;
	}
	.availableSeatIndicator{
	  border:1px solid  #00B9F5;
	}
	.labelDescriptionContainer{
	  position: relative;
	  margin-right: 65px;
	  top: -10px;
	  right: 10px;
	}
  }
}

/*Layout CSS End*/
