.ticket {
    width: 1170px;
    position: relative;
    margin-top: 68px;
    padding: 37px 0;
    text-align: center;
    /*background-image: url(http://amovie.gozha.net/images/icons/stroke.svg);
    background-repeat: no-repeat;*/
    .ticket_position {
	    display: inline-block;
	    overflow: hidden;
	    position: absolute;
	    top: 70px;
	    left: 107px;
	}
	.indecatorPre {
	    margin-right: -3px;
	}
	.ticket__indecator {
	    position: relative;
	    border: 3px solid #dbdee1;
	    width: 50px;
	    float: left;
	    height: 300px;
	    font-family: 'PT Mono';
	    font-size: 12px;
	    color: #dbdee1;
	}
	.preText {
	    -webkit-transform: rotate(90deg) translateZ(0);
	    -moz-transform: rotate(90deg) translateZ(0);
	    -o-transform: rotate(90deg) translateZ(0);
	    -ms-transform: rotate(90deg) translateZ(0);
	    transform: rotate(90deg) translateZ(0);
	    margin-top: 137px;
	    left: -26px;
	}
	.indecatorText {
	    position: absolute;
	    width: 100px;
	}
	.ticket__inner {
	    border: 3px solid #dbdee1;
	    overflow: hidden;
	    float: left;
	    height: 300px;
	    width: 820px;
	}
	.ticketSecondary {
	    float: left;
	    text-align: left;
	    padding: 47px 80px 30px 60px;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__date, .ticket__time {
	    display: inline-block;
	    margin-right: 30px;
	    margin-top: 30px;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__date, .ticket__time {
	    display: inline-block;
	    margin-right: 30px;
	    margin-top: 30px;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__price {
	    margin-top: 40px;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticketPrimery {
	    overflow: hidden;
	    border-left: 3px double #dbdee1;
	    margin-top: 37px;
	    padding: 27px 35px 22px 30px;
	}


	.ticket__film {
	    border-bottom: 1px solid #dbdee1;
	    padding-bottom: 44px;
	    margin-bottom: 28px;
	}
	.ticket__itemPrimery {
	    font-size: 20px;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__movie {
	    text-transform: none;
	}
	.ticket__itemPrimery {
	    font-size: 20px;
	}
	.ticket__item {
	    display: block;
	    margin-bottom: 10px;
	    font-family: 'PT Mono';
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: left;
	}
	.ticket__place {
	    color: #fe505a;
	}
	.indecatorPost {
	    margin-left: -3px;
	}

	.ticket__indecator {
	    position: relative;
	    border: 3px solid #dbdee1;
	    width: 50px;
	    float: left;
	    height: 300px;
	    font-family: 'PT Mono';
	    font-size: 12px;
	    color: #dbdee1;
	}
	.postText {
	    -webkit-transform: rotate(-90deg) translateZ(0);
	    -moz-transform: rotate(-90deg) translateZ(0);
	    -o-transform: rotate(-90deg) translateZ(0);
	    -ms-transform: rotate(-90deg) translateZ(0);
	    transform: rotate(-90deg) translateZ(0);
	    margin-top: 137px;
	    left: -29px;
	}
	.indecatorText {
	    position: absolute;
	    width: 100px;
	}
	.top{    
	    width: 80px;
	    height: 16px;
	    position: absolute;
	    top: 0px;
	    left: -95px;
	}
	.bottom {   
	    width: 80px;
	    height: 16px;
	    position: absolute;
	    top: 0px;
	    right: -95px;
	}
}
