.container {
  position: absolute;
  top: 10%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.card {
  width: 20%;
  border: 1px solid black;
  margin: 5px;
  display: inline-block;
}

button {
  margin: 10px;
}
