.findBooking {
  .performSearch {
	margin: 11px 19px 0 21px;
	background-color: #ffffff;
	padding: 30px 30px 39px;
	.title {
	  font-size: 16px;
	  font-weight: 600;
	  color: #000000;
	  margin-bottom: 41px;
	}
	.searchBooking {
	  input {
		width: 245px;
		height: 48px;
		border-radius: 3.8px;
		border: solid 2px #ebebeb;
		font-size: 16px;
		padding-left: 15px;
	  }
	  .invalid {
		border: red 2px solid;
	  }
	  .disabled {
		background-color: #c8c8c8;
	  }
	  button {
		width: 348px;
		height: 48px;
		border-radius: 4px;
		border: none;
		font-size: 16px;
		font-weight: bold;
		color: #ffffff;
		background-color: #00b9f5;
		margin-left: 60px;
		cursor: pointer;
	  }
	}
	.invalidBooking {
	  font-size: 12px;
	  color: #d0021b;
	}
  }
  .searchedResult {
	margin: 11px 19px 0 21px;
	background-color: #ffffff;
	padding: 30px 30px 8px;
	.title {
	  font-size: 18px;
	  font-weight: 600;
	  color: #000000;
	  margin-bottom: 41px;
	}
	display: flex;
	justify-content: space-between;
	.leftSide {
	  display: inline-block;
	  .items {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		font-size: 12px;
		.item {
		  margin: 0 20px 20px 0;
		  flex-grow: 1;
		  width: calc(100% * (1/4) - 1px);
		  .field {
			color: #9c9c9c;
		  }
		  .value {
			font-size: 14px;
			font-weight: 500;
		  }
		}
	  }
	}
	.rightSide {
	  display: inline-block;
	  .title {
		margin: 0;
	  }
	  .mobile {
		margin: 15px 0;
		font-size: 18px;
	  }
	  button {
		margin-left: 0;
		border: none;
		font-size: 16px;
		font-weight: bold;
		color: #ffffff;
		cursor: pointer;
		width: 284px;
		height: 48px;
		border-radius: 4px;
		background-color: #00b9f5;
	  }
	}
  }
}
